--extra-index-url https://pip.hexaly.com

cvxpy-base==1.6.6
numpy==2.3.1
scipy==1.16.0
plotly==6.1.2

# we also install them on the fly in the Makefile
marimo==0.14.7
pre-commit==4.2.0

# Install solvers
clarabel==0.11.1
mosek==11.0.23

# for testing
pytest==8.4.1
pytest-cov==6.2.1
