--extra-index-url https://pip.hexaly.com

cvxpy-base==1.6.2
numpy
scipy==1.15.2
plotly==6.0.0

# we also install them on the fly in the Makefile
marimo==0.11.10
pre-commit==4.1.0

# Install solvers
clarabel==0.10.0
mosek==11.0.9
hexaly

# for testing
pytest
pytest-cov
