--extra-index-url https://pip.hexaly.com

cvxpy-base==1.6.6
numpy==2.3.0
scipy==1.15.3
plotly==6.1.2

# we also install them on the fly in the Makefile
marimo==0.13.15
pre-commit==4.2.0

# Install solvers
clarabel==0.11.0
mosek==11.0.22

# for testing
pytest==8.4.0
pytest-cov==6.1.1
