--extra-index-url https://pip.hexaly.com

cvxpy-base==1.6.4
numpy==2.2.4
scipy==1.15.2
plotly==6.0.1

# we also install them on the fly in the Makefile
marimo==0.12.5
pre-commit==4.2.0

# Install solvers
clarabel==0.10.0
mosek==11.0.16
hexaly

# for testing
pytest==8.3.5
pytest-cov==6.1.1
